@import "~font-awesome/css/font-awesome.min.css";
#map{
    margin: auto;
    width: 100%;
    height: 1000px;
    padding: 10px;
}

#pac-input {
    display: none;
    height: 40px;
    width: 50%;
    text-align: center;
}